<h1>My Favorites</h1>
<ul>
	{{#favorites}}
	<li>
		<a href="#/routes/{{route}}/{{stop}}">{{route}} / {{stop}}</a>
		<a href="#/unfavorite?stops={{route}}|{{stop}}">Remove</a>
	</li>
	{{/favorites}}
</ul>
{{^favorites}}
<p>You don't have any favorite stops yet!</p>
{{/favorites}}
