{{#response}}
{{#route}}
<h2 style="background-color:#{{color}};color:#{{oppositeColor}};">{{title}}</h2>
<a href="#/routes">Back</a>
{{#direction}}
<h3>{{title}}</h3>
<ul>
	{{#stop}}
	<li>
		<a href="#/routes/{{route}}/{{tag}}">{{title}}</a>
	</li>
	{{/stop}}
</ul>
{{/direction}}
{{/route}}
<p>{{copyright}}</p>
{{/response}}
